#Создайте файл .env из копии этого файла и замените значения переменных реальными данными

# API-ключи
API_KEY=your_api_key_here       #укажите API-ключ для apilayer.com
API_KEY_ALPHA=your_api_key_here #укажите API-ключ для alphavantage.co